{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Subsection</a>
    </li>
  </ol>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
  
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Name of Service</h1>

      <div id="more-detail-hint" class="govuk-hint">
        <h2>Are these details correct?</h2>
      </div>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/create-account">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day'] }}-{{ data['date-of-birth-month'] }}-{{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info">
              Change<span class="govuk-visually-hidden">{{ data['date-of-birth'] }}</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }}<br>{{ data['address-line-2'] }}<br>{{ data['address-town'] }}<br>{{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['phone-number'] }}</p>
            <p class="govuk-body">{{ data['email-address'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
  
      </dl>

      <form action="/file-upload" method="post">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
