{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Subsection</a>
    </li>
  </ol>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Name of Service</h1>

      <form class="form" action="/summary" method="post">

        <p>Please upload one form of in-date ID from the list below:<br>
           - Passport<br>
           - UK Drivers Licence<br>
           - Freedom Pass<br>
           - Biometric residence permits
           <br><br>
         Your ID can be scanned or taken using your mobile or tablet device.<br>
         We use the information and documents you provide, to confirm your identity. </p>
         
         

				<div class="govuk-form-group">
					<label class="govuk-label" for="file-upload-1">
						Upload Documentation:
					</label>
					<input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" accept=".jpg,.pdf">
				</div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
